registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@mui:registry=https://registry.npmjs.org/
@emotion:registry=https://registry.npmjs.org/
strict-ssl=false

# registry=https://nexus.weg.net/repository/npm-group/
email=roliveira@weg.net
always-auth=true
